<div *ngIf="DISPLAY === 1 || DISPLAY === 0" class="w-full h-full py-4">
  <div class="flex justify-between">
    <!-- logo -->
    <dobled-logo></dobled-logo>
    <!-- heading -->
    <h1
      class="mt-2 font-inter font-bold xs:text-1xl sm:text-1xl md:text-1xl lg:text-3xl xl:text-4xl 2xl:text-5xl 4xl:text-6xl"
      [style.color]="appConfigService.theme.primaryColor"
    >
      Cotización
    </h1>
  </div>
  <!--  -->
  <div class="py-2 mt-5 space-y-4">
    <!-- usa -->
    <div *ngFor="let item of dashboardService.exchangeData">
      <rate-element [item]="item"></rate-element>
    </div>
  </div>

  <p
    style="font-size: 16px"
    class="mt-4 font-normal font-inter"
    [style.color]="appConfigService.theme.secondaryColor"
  >
    Fecha: {{ updateAt | date : "dd.MM.YYYY" }}
  </p>
</div>
<div *ngIf="DISPLAY === 2 || DISPLAY === 3  || DISPLAY === 4" class="w-full h-full py-4">
  <div class="flex justify-between">
    <!-- logo -->
    <dobled-logo></dobled-logo>
    <!-- heading -->
    <p
      style="font-size: 16px"
      class="mt-4 font-normal font-inter"
      [style.color]="appConfigService.theme.secondaryColor"
    >
      Fecha: {{ updateAt | date : "dd.MM.YYYY" }}
    </p>
  </div>
  <!--  -->
  <div class="py-2 mt-5 space-y-4">
    <!-- usa -->
    <div class="columns-2 gap-4 justify-between" >
      <div style="margin-right: 20px;" *ngFor="let item of dashboardService.exchangeData; let i = index">
        <div *ngIf="i % 2 == 0">
          <rate-element [item]="item"></rate-element>
        </div>
      </div>
     
      <div style="margin-left: 20px;" *ngFor="let item of dashboardService.exchangeData; let i = index">
        <div *ngIf="i % 2 != 0">
          <rate-element [item]="item"></rate-element>
        </div>
      </div>
    </div>
  </div>
</div>
