.global {
    width: 180px;
    background-color: rgb(224, 221, 221);
    border-radius: 20px;
    height: 120px;
}


.set {
    height: 25px;
    background: #FFF;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    right: 69px;
    width: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
}

.header {
    background: #e6e6e6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 29px;
    border-radius: 20px;
    font-weight: bold;
}

.body-score {

    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 29px;
    border-radius: 20px;
    font-weight: bold;
}