.container-show {
    border-radius: 12px;
    
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
}

video {
    border-radius: 1rem;
    object-fit: fill;
}