<div class="rounded-lg mx-auto my-auto w-100 h-50 px-36 pb-10 pt-8">
  <ion-img class="mx-auto my-auto w-40 h-20" src="./assets/logo.svg"></ion-img>
  <div class="rounded-lg bg-white text-center px-5 py-5">
    <ion-text class="mx-auto my-auto text-2xl text-red-500 font-bold"
      >Cuenta desactivada</ion-text
    >

    <div class="mt-4">
      <ion-text class="text-sm font-bold text-brand-blue">
        Si tienes alguna pregunta o necesitas más información, no dudes en
        contactar a nuestro equipo de soporte en cualquier momento.
      </ion-text>
    </div>
    <div class="mt-4">
      <ion-text class="text-sm font-bold text-brand-blue">
        soporte&#64;dobled.net
      </ion-text>
    </div>
  </div>
</div>
